<footer id="footr" class="container-fluid mt-5 p-5">
    <div class="row">
        <article class="col-12 col-md-6 col-lg-7">
            <h4>Titre</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti magnam molestiae sunt nam, non placeat illo. Illum, provident! Velit, temporibus quae.</p>
        </article>
        
        <div class="col-6 col-md-3 col-lg-2">
            <img src="http://placekitten.com/300/300"  alt="..." class="rounded-circle img-fluid w-100">
        </div>
        
        <ul class="col-6 col-md-3 col-lg-3">
            <h4>Titre</h4>
            <li class="badge badge-pill badge-secondary mr-1"><a href="#">element1</a></li>
            <li class="badge badge-pill badge-secondary mr-1"><a href="#">element2</a></li>
            <li class="badge badge-pill badge-secondary mr-1"><a href="#">element3</a></li>
        </ul>
    </div>
    <a routerLink="#totop" class="btn btn-lg btn-secondary d-block d-md-none mt-3">
        <img src="../../../assets/font/icons/icons/arrow-up.svg" alt=""> Retour en haut de page 
        <img src="../../../assets/font/icons/icons/arrow-up.svg" alt="">
    </a>
</footer>
