<app-nav-component></app-nav-component>
<app-header-component></app-header-component>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-3 flex-md-row">
            <div class="row flex-md-row flex-lg-column">
                <app-aside-component class="mt-4 col-12 col-md-6 col-lg-12"></app-aside-component>
                <app-aside-component class="mt-4 col-12 col-md-6 col-lg-12"></app-aside-component>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-6">
            <app-card-component class="m-5"></app-card-component>
            <app-card-component class="m-5"></app-card-component>
            <app-card-component class="m-5"></app-card-component>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <app-asidewhite-component class="m-5"></app-asidewhite-component>
        </div>
    </div>
</div>
<app-footer-component></app-footer-component>